boto3==1.14.28
emoji==0.5.4
gensim==3.8.3
requests==2.24.0
slackclient==2.7.3
spacy==2.3.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz
